body {
        text-align: center;
        background-color: #8A1C00;
        padding-right: 80px;
} 
#main {
    width: 75rem;
    height: 32.5rem;
    margin: 0px auto;
    /*background-image: url("../IMG/background.png");*/
    /*background-position: center center;*/    
    position: relative;
    text-align: center;
    
    margin-top: 1rem;
    margin-left: 1.3rem;     
    opacity:1;
    
}

#main * {
    color: #FFFFFF;
}

.clear {
    clear: both;
    height: 1px;
    width: 100%;
}

#main::after {
    content: "";
    background: url("../IMG/background.png");
    background-position: center center;
    /*background-repeat: no-repeat;*/
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

#first-link {
    float: left;
    background-image: url('../IMG/Nakov-marvel.png');
    background-color: #000000;
    background-size:cover;    
    width:9rem;
    height: 9rem;  
    opacity:1;
    font-family: 'Indie Flower', cursive;
    font-weight:700;
    font-size:2rem;
    color:white;
    line-height: 160px;
    text-align:center; 
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;   
    margin-left:1rem;
    margin-top:1rem;
}

#second-link {
    float: right;
    background-image: url('../IMG/Teodor-marvel.png');
    background-color: #000000;
    background-size: cover;
    width:9rem;
    height: 9rem;
    font-family: 'Indie Flower', cursive;
    font-weight:700;
    font-size:2rem;
    color:white;
    line-height: 160px;
    text-align:center; 
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;  
    margin-right:1rem;
    margin-top:1rem;
}

#third-link {
    float: left;
    background-image: url('../IMG/Vlado-marvel.png');
    background-color: #000000;
    background-size: cover;
    width:9rem;
    height: 9rem;
    font-family: 'Indie Flower', cursive;
    font-weight:700;
    font-size:2rem;
    color:white;
    line-height: 160px;
    text-align:center; 
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; 
    margin-left:1rem;
    margin-bottom:1rem;
}

#fourth-link {
    float: right;
    background-image: url('../IMG/Petya-marvel.png');
    background-color: #000000;
    background-size:cover;
    width:9rem;
    height: 9rem;  
    font-size:2rem;
    border-bottom-color:white;
    border-width:5px;
    font-family: 'Indie Flower', cursive;
    font-weight:700;    
    color:white;
    line-height: 160px;
    text-align:center; 
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin-right:1rem;
    margin-bottom:1rem; 
}


#human {
    border-radius: 4rem;
    margin: 0px auto;
    background-image: url('../IMG/new ball1.jpg');
    background-position: center center;
    background-size:cover;
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 13rem;
    left: 35rem;    
}
.logo{
    font-family: 'Indie Flower', cursive;
    margin-top: 0.7rem;
    margin-left: 1.3rem;
    font-size: 3rem;
    background-color: #B25A5A;
    margin-bottom: 1rem;
    color: black;
    width: 75rem;
}
a{
   text-decoration: none;
   color: black;
   background-color: #B25A5A;
}
.footer{
     background-color: #B25A5A;
     height: 2rem;
     margin-top: 1rem;
     margin-left: 1.3rem;  
     width: 75rem; 
     font-family: 'Indie Flower', cursive;
     color: black;
     font-weight:bold;    
}
#footer1 {
    position:absolute; 
    left:7rem;
    top:40rem;
    
}
#footer2 {
    position:absolute; 
    left:36rem;    
    top:40rem;
}
#footer3 {
    position:absolute;
    left:65rem;  
    top:40rem;
}
