body {
        text-align: center;
        background-color: #8A1C00;
} 
#main {
    width: 1200px;
    height: 300px;
    margin: 0px auto;
    /*background-image: url("../IMG/background.png");*/
    /*background-position: center center;*/    
    position: relative;
    text-align: center;
    padding-top: 200px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 10px; 
    opacity:1;
    
}

#main * {
    color: #FFFFFF;
    width: 500px;
    height: 500px;
}

#main::after {
    content: "";
    background: url("../IMG/background.png");
    background-position: center center;
    /*background-repeat: no-repeat;*/
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

#first-link {
    position: absolute;
    top: 14px;
    left: 20px;
    background-image: url('../IMG/Nakov-marvel.png');
    background-color: #000000;
    background-size:cover;    
    width:150px;
    height: 150px;  
    opacity:1;
    font-family: 'Indie Flower', cursive;
    font-weight:700;
    font-size:35px;
    color:white;
    line-height: 160px;
    text-align:center; 
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;   

}

#second-link {
    position: absolute;
    top: 14px;
    left: 1030px;
    background-image: url('../IMG/Teodor-marvel.png');
    background-color: #000000;
    background-size: cover;
    width: 150px;
    height: 150px;
    font-family: 'Indie Flower', cursive;
    font-weight:700;
    font-size:35px;
    color:white;
    line-height: 160px;
    text-align:center; 
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;  
    
}

#third-link {
    position: absolute;
    top: 342px;
    left: 20px;
    background-image: url('../IMG/Vlado-marvel.png');
    background-color: #000000;
    background-size: cover;
    width: 150px;
    height: 150px;
    font-family: 'Indie Flower', cursive;
    font-weight:700;
    font-size:35px;
    color:white;
    line-height: 160px;
    text-align:center; 
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; 
    
}

#fourth-link {
    position: absolute;
    top: 345px;
    left: 1030px;
    background-image: url('../IMG/Petya-marvel.png');
    background-color: #000000;
    background-size:cover;
    width: 150px;
    height: 150px;
    border-bottom-color:white;
    border-width:5px;
    font-family: 'Indie Flower', cursive;
    font-weight:700;
    font-size:35px;
    color:white;
    line-height: 160px;
    text-align:center; 
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; 
}


#human {
    border-radius: 50px;
    margin: 0px auto;
    background-image: url('../IMG/new ball1.jpg');
    background-position: center center;
    background-size:cover;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 225px;
    left: 550px;    
}
.logo{
    font-family: 'Indie Flower', cursive;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 50px;
    background-color: #B25A5A;
    margin-bottom: 14px;
    color: black;
    width: 1200px;
}
a{
   text-decoration: none;
   color: black;
   background-color: #B25A5A;
}
.footer{
     background-color: #B25A5A;
     height: 2rem;
     margin-top: 10px;
     margin-left: 20px;
     margin-right: 20px;
     width: 75rem; 
     font-family: 'Indie Flower', cursive;
     color: black;
     font-weight:bold;    
}
#footer1 {
    position:absolute;
    left:50px;
    top:610px;
}
#footer2 {
    position:absolute; 
    left:580px;    
    top:610px;
}
#footer3 {
    position:absolute;
    left:1080px;  
    top:610px;
}
