body {
        text-align: center;
        background-color: #8A1C00;
        padding-right: 80px;
} 
#main {
    width: 100%;
    position: relative;
    margin-left: 35px; 
    opacity:1;
}

#main * {
    color: #FFFFFF;
}

.clear {
    clear: both;
    height: 1px;
    width: 100%;
}

#main::after {
    content: "";
    background: url("../IMG/background.png");
    background-position: center center;
    /*background-repeat: no-repeat;*/
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

#first-link {
    float: left;
    background-image: url('../IMG/Nakov-marvel.png');
    background-color: #000000;
    background-size:cover;    
    width:150px;
    height: 150px;  
    opacity:1;
    font-family: 'Indie Flower', cursive;
    font-weight:700;
    font-size:35px;
    color:white;
    line-height: 160px;
    text-align:center; 
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;   

}

#second-link {
    float: right;
    background-image: url('../IMG/Teodor-marvel.png');
    background-color: #000000;
    background-size: cover;
    width: 150px;
    height: 150px;
    font-family: 'Indie Flower', cursive;
    font-weight:700;
    font-size:35px;
    color:white;
    line-height: 160px;
    text-align:center; 
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;  
    
}

#third-link {
    float: left;
    background-image: url('../IMG/Vlado-marvel.png');
    background-color: #000000;
    background-size: cover;
    width: 150px;
    height: 150px;
    font-family: 'Indie Flower', cursive;
    font-weight:700;
    font-size:35px;
    color:white;
    line-height: 160px;
    text-align:center; 
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; 
    
}

#fourth-link {
    float: right;
    background-image: url('../IMG/Petya-marvel.png');
    background-color: #000000;
    background-size:cover;
    width: 150px;
    height: 150px;
    border-bottom-color:white;
    border-width:5px;
    font-family: 'Indie Flower', cursive;
    font-weight:700;
    font-size:35px;
    color:white;
    line-height: 160px;
    text-align:center; 
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; 
}


#human {
    border-radius: 50px;
    margin: 0px auto;
    background-image: url('../IMG/new ball1.jpg');
    background-position: center center;
    background-size:cover;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 225px;
    left: 550px;    
}
.logo{
    font-family: 'Indie Flower', cursive;
    width: 100%;
    margin-top: 10px;
    margin-left: 36px;
    margin-bottom: 10px;
    font-size: 50px;
    background-color: #B25A5A;
}
a{
   text-decoration: none;
   color: black;
   background-color: #B25A5A;
}
.footer{
    width: 100%;
    background-color: #B25A5A;
    margin-left: 36px;
}
.footerUl li{
    display: inline-block;
    list-style-type: none;
    padding: 5px 30px;
}
.footerUl li:first-child{
    display: inline-block;
    list-style-type: none;
    padding-left: 0px;
}