html, body {
    width: 100%;
    font-size: 62.5%; /*20px;*/
    padding: 0;
    margin: 0;
    background-color: black;
}

figure {
    vertical-align: top;
    border-style: double;
    border-width: 1rem;
    border-color: white;
    border-radius: 2rem;
    margin: 0;
    margin-bottom: 10rem;
    margin-right: 10rem;
    padding: 0;
    display: inline-block;
    max-width: 100%;
    /*height:150rem;*/
}

    figure img {
        margin: 0;
        margin-left: 3rem;
        margin-bottom: 3rem;
        padding: 0;
        max-width: 100%;
        max-height:100%;
        float: right;
        
    }

    figure figcaption {
        padding: 2rem;
        max-width: 70rem;
        line-height: 5rem;
        font-size: 5rem;
        color: white;
    }

    figure:hover figcaption{
        color:blue;
        font-size:6.5rem;
                line-height: 6.5rem;
        transform: scale(1.2);
    }

@media (max-width: 550px) {

    figure figcaption {
        padding: 0.5rem;
        line-height: 2rem;
        font-size: 1rem;
        color: white;
        /*transform: scale(0.5);
        -webkit-transform: scale(0.5);*/
    }
}
.footer{
     background-color: #B25A5A;
     height: 4rem;     
     width: 126rem;
          
}


#button2 {
    width:19%;
    position:absolute;
    left:50rem;
    vertical-align:central;
    font-family:'Indie Flower', cursive;
    text-align:center;
    color:#B25A5A;
    border:1px solid black;
    text-decoration:none;
    font-weight:bold;
    line-height:2.7rem;
    background:lightgray;
    transition:all .3s ease;
    font-size:2rem;
    margin-top:0.8rem;
    border-radius: 0.6rem;
}

