body {
        text-align: center;
     }
#main {
    width: 1200px;
    height: 450px;
    margin: 0px auto;
    background-image: url("../IMG/background.png");
    background-position: center center;    
    position: relative;
    text-align: center;
    padding-top: 200px;
    opacity:0.7;
    
}

#main * {
    color: #FFFFFF;
    
}

#first-link {
    position: absolute;
    top: 50px;
    left: 80px;
    background-image: url('../IMG/Nakov-marvel.png');
    background-color: #000000;
    background-size:cover;    
    width:150px;
    height: 150px;  
      
}

#second-link {
    position: absolute;
    top: 50px;
    left: 1020px;
    background-image: url('../IMG/Teodor-marvel.png');
    background-color: #000000;
    background-size:cover;
    width: 150px;
    height: 150px;
}

#third-link {
    position: absolute;
    top: 480px;
    left: 80px;
    background-image: url('../IMG/Vlado-marvel.png');
    background-color: #000000;
    background-size:cover;
    width: 150px;
    height: 150px;
}

#fourth-link {
    position: absolute;
    top: 480px;
    left: 1020px;
    background-image: url('../IMG/Petya-marvel.png');
    background-color: #000000;
    background-size:cover;
    width: 150px;
    height: 150px;
}

#human {
    border-radius: 50px;
    margin: 0px auto;
    background-image: url('../IMG/ball.png');
    background-position: center center;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 225px;
    left: 550px;    
}
