html, body {
    width: 100%;
    font-size: 62.5%; /*20px;*/
    padding: 0;
    margin: 0;
    margin-bottom:0;
}

body {
    /*background-color: yellow;*/
    margin-bottom:0;
}

figure, figure div, figure img {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
    margin-bottom:0;
}
.footer{
     background-color: #B25A5A;
     height: 45px;     
     width: 121.3rem;
           
}


#button2 {
    width:19%;
    position:absolute;
    left:45rem;
    vertical-align:central;
    font-family:'Indie Flower', cursive;
    text-align:center;
    color:#B25A5A;
    border:1px solid black;
    text-decoration:none;
    font-weight:bold;
    line-height:2.7rem;
    background:lightgray;
    transition:all .3s ease;
    font-size:2rem;
    margin-top:0.8rem;
    border-radius: 7px;
    margin-bottom:0;
}
/* Първа сцена - Исторя 2*/
#responsive2-1 {
    font-size: 1.9rem;
    display: block;
    visibility: visible;
    width:30rem;
    height:5rem
}

#first-scene2 img {
    margin: 0;
    padding: 0;
    max-width: 80%;
    /*min-width: 250px;*/
    height: auto;
}

#first-scene2 {
    overflow: visible;
    position: relative !important;
    background-color: yellow;
    display: inline-block;
    width:30rem;
    height:40rem;
    /*margin:200px;*/
}

#bubble2-1 {
    background-image: url("../IMG/2/2.1-bubble.gif");
    background-repeat: no-repeat;
    position: absolute !important;
    left: 10.2em;
    top: 0.9em;
    width: 11em;
    height: 6em;
    z-index: 3;
}

    #bubble2-1 p {
        display: block;
        font-size: 1em;
        padding-left: 0.7em;
        padding-right: 1.1em;
        padding-top: 1.5em;
        z-index: 6;
        margin: 0;
    }

    #bubble2-1:hover {
        color: red;
        transform: scale(2.5);
        -webkit-transform: scale(2.5);
    }

/* Втора сцена - Исторя 2*/
#responsive2-2 {
    font-size: 2rem;
    display: block;
    visibility: visible;
    width:30rem;
    height:5rem;
    

}

#second-scene2 img {
    margin: 0;
    padding: 0;
    max-width: 80%;
    /*min-width: 250px;*/
    height: 40rem;
    float:right;
    
}

#second-scene2 {
    overflow: visible;
    position: relative !important;
    background-color: blue;
    display: inline-block;
    width:40rem;
    height:40rem;
    margin-bottom:1rem;
    /*margin:200px;*/
}

#bubble2-2-1 {
    background-image: url("../IMG/2/2-2-1-bubblepsd.gif");
    background-repeat: no-repeat;
    position: absolute !important;
    left: 28.2em;
    top: 0.1em;
    width: 11em;
    height: 7em;
    z-index: 3;
}

    #bubble2-2-1 p {
        display: block;
        font-size: 0.5em;
        padding-left: 3.5em;
        padding-right: 0.8em;
        padding-top: 2em;
        z-index: 6;
        margin: 0;
    }

    #bubble2-2-1:hover {
        color: red;
        left: 20.8em;
        top: 0.8em;
        transform: scale(2);
        -webkit-transform: scale(2);
    }


#bubble2-2-2 {
    background-image: url("../IMG/2/2-2-2-bubble.gif");
    background-repeat: no-repeat;
    position: absolute !important;
    left: 30.3em;
    top: 45.4em;
    width: 12em;
    height: 9em;
    z-index: 5;
}

    #bubble2-2-2 p {
        display: block;
        font-size: 1.2em;
        padding-left: 4em;
        padding-right: 3em;
        padding-top: 3em;
        z-index: 6;
        margin: 0;
    }

    #bubble2-2-2:hover {
        color: red;
        left: 31.3em;
        top: 42.4em;
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
    }

        #bubble2-2-2:hover p {
            display: block;
            font-size: 1.4em;
            padding-left: 3em;
            padding-right: 3em;
            padding-top: 2.5em;
            z-index: 6;
            margin: 0;
        }

/* Трета сцена - Исторя 2*/
#responsive2-3 {
    font-size: 2rem;
    display: block;
    visibility: visible;
    width:30%;
    height:30%;
    float:right;
    top:40rem;
}

#third-scene2 img {
    margin: 0;
    padding: 0;
    max-width: 100%;
    /*min-width: 250px;*/
    height: auto;
    width:70%;
    height:70%;
    float:right;

}

#third-scene2 {
    overflow: visible;
    position: relative !important;
    background-color: coral;
    display: inline-block;
    width:40%;
    height:30%;
    /*margin:200px;*/
}

#bubble2-3-1 {
    background-image: url("../IMG/2/2-3-1-bubble.gif");
    background-repeat: no-repeat;
    position: absolute !important;
    left: 70.1em;
    top: 1.6em;
    width: 15em;
    height: 6em;
    z-index: 0;
}

    #bubble2-3-1 p {
        display: block;
        font-size: 0.1rem;
        padding-left: 0.8em;
        padding-right: 1.8em;
        padding-top: 1.5em;
        z-index: 6;
        margin: 0;
        
    }

    #bubble2-3-1:hover {
        background-image: url("../IMG/2/2-3-1-pop-bubble.gif");
        color: red;
        left: 70em;
        top: 3.6em;
        transform: scale(2);
        -webkit-transform: scale(2);
        font-size: 0.2rem;
    }


#bubble2-3-2 {
    background-image: url("../IMG/2/2-3-2-bubble.gif");
    background-repeat: no-repeat;
    position: absolute !important;
    left: 65em;
    top: 6em;
    width: 16em;
    height: 7em;
    z-index: 5;
}

    #bubble2-3-2 p {
        display: block;
        font-size: 1.2em;
        padding-left: 3em;
        padding-right: 1em;
        padding-top: 1em;
        z-index: 6;
        margin: 0;
    }

    #bubble2-3-2:hover {
        background-image: url("../IMG/2/2-3-2-pop-bubble.gif");
        color: red;
        left: 67em;
        top: 8em;
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
    }


#bubble2-3-3 {
    background-image: url("../IMG/2/2-3-3-bubble.gif");
    background-repeat: no-repeat;
    position: absolute !important;
    left: 72em;
    top: 53em;
    width: 8em;
    height: 7em;
    z-index: 5;
    
}

    #bubble2-3-3 p {
        display: block;
        font-size: 1.2em;
        padding-left: 1.5em;
        padding-right: 0.5em;
        padding-top: 1em;
        z-index: 6;
        margin: 0;
        
    }

    #bubble2-3-3:hover {
        color: red;
        transform: scale(2.5);
        -webkit-transform: scale(2.5);               
    }


/* Четвърта сцена - Исторя 2*/
#responsive2-4 {
    font-size: 1.8rem;
    display: block;
    visibility: visible;
    height:8rem;
    width:30rem;
    top: 55em;
}

#fourth-scene2 img {
    margin: 0;
    padding: 0;
    max-width: 100%;
    /*min-width: 250px;*/    
    height:51rem;
    width:40rem;
}

#fourth-scene2 {
    overflow: visible;
    position: relative !important;
    background-color: forestgreen;
    display: inline-block;
    top: -11.6em;
    margin-bottom:-7.4rem;
    /*margin:200px;*/
}

#bubble2-4-1 {
    background-image: url("../IMG/2/2-4-1-bubble.gif");
    background-repeat: no-repeat;
    position: absolute !important;
    left: 3.3em;
    top: 33em;
    width: 14em;
    height: 17em;
    z-index: 5;
}

    #bubble2-4-1 p {
        display: block;
        font-size: 1em;
        padding-left: 0.5em;
        padding-right: 2.8em;
        padding-top: 2em;
        z-index: 6;
        margin: 0;
    }

    #bubble2-4-1:hover {
        color: red;
        left: 6.5em;
        top: 35em;
        transform: scale(2);
        -webkit-transform: scale(2);
    }


#bubble2-4-2 {
    background-image: url("../IMG/2/2-4-2-bubble.gif");
    background-repeat: no-repeat;
    position: absolute !important;
    left: 28em;
    top: 61em;
    width: 18em;
    height: 10em;
    z-index: 5;
}

    #bubble2-4-2 p {
        display: block;
        font-size: 1.2em;
        padding-left: 1em;
        padding-right: 6em;
        padding-top: 3.2em;
        z-index: 6;
        margin: 0;
    }

    #bubble2-4-2:hover {
        color: red;
        left: 28em;
        top: 61em;
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
    }

       /* Пета сцена - Исторя 2*/
#responsive2-5 {
    font-size: 2rem;
    text-align:left;
    display: block;
    visibility: visible;
    height:1.4em;
    width:81rem;

 }
#P9 {
    position: absolute;
    left: 465px;
    top: -1px;
    padding-top: 200px;
}

#fifth-scene2 img {
    margin: 0;
    padding: 0;
    max-width: 100%;
    /*min-width: 250px;*/
    margin-top:-7.4rem;
    height:56.1rem;
    width:45.3rem;
    
}

#fifth-scene2 {
    overflow: visible;
    position: relative !important;
    background-color: lightseagreen;
    display: inline-block;
    margin-bottom:-7.4rem;
    /*margin:200px;*/
}

#bubble2-5-1 {
    background-image: url("../IMG/2/2-5-1-bubble.gif");
    background-repeat: no-repeat;
    position: absolute !important;
    left: 21.5em;
    top: 6em;
    width: 16em;
    height: 12em;
    z-index: 5;
}

    #bubble2-5-1 p {
        display: block;
        font-size: 1.1em;
        padding-left: 1.5em;
        padding-right: 1.2em;
        padding-top: 6em;
        z-index: 6;
        margin: 0;
    }

    #bubble2-5-1:hover {
        color: red;
        transform: scale(2);
        -webkit-transform: scale(2);
    }
