html, body{
    width:100%;
}


body {
    background-color: yellow;
}

#text {
    display: inline-block;
    position: relative;
    left: -100px;
}

li:hover img {
    opacity: 0.8;
    /*-webkit-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;*/
    transition: all 0.2s linear;
}
/*li::before{
    content:box;

}*/
ul {
    list-style:none;
    

}
#bubble1-1-1{
    /*width:50%;*/
    display:inline-block;
    position:relative;
    left:-100px;
}
#bubble1-1-1 div{
    display:inline-block;
    width:12rem;
    position:relative;
    left:-11rem;
    text-align:left;
    vertical-align:top;
    top:2rem;
    font-size:100%;
}
#bubble1-1-1 img{
    text-align:left;
    display:inline-block;
    width:12rem;
}
article div{
    display:inline-block;
}