html, body {
    width: 100%;
    font-size: 62.5%; /*20px;*/
    padding: 0;
    margin: 0;
}

body {
    /*background-color: yellow;*/
}

article, article div, article img {
    display: inline-block;
    vertical-align: top;
}

#first-page img {
    margin: 0;
    padding: 0;
    max-width: 100%;
    /*min-width: 250px;*/
    height: auto;
}

#first-page {
    overflow: visible;
    position: relative;
    background-color: yellow;
    display: inline-block;
    margin:200px;
}

#bubble1-1-1 {
    background-image: url("../IMG/1/1.1.1-bubble.png");
    background-repeat: no-repeat;
    position: absolute;
    left: 21em;
    top: 1.2em;
    width: 12em;
    height: 12em;
    z-index: 5;
}

#bubble1-1-1 p {
    /*border: 1px solid #000;*/
    display: block;
    font-size: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1.25em;
    z-index: 6;
    margin: 0;
}
#bubble1-1-1:hover{
    color:red;
    -webkit-transform: scale(1.2);
}
#bubble1-1-2:hover{
    color:red;
    -webkit-transform: scale(1.2);
}
#bubble1-1-2 {
    background-image: url("../../IMG/1/1.1.2-bubble.png");
    background-repeat: no-repeat;
    display: inline-block;
    width: 19em;
    height: 15em;
    font-size: 1em;
    position: absolute;
    left: 35em;
    top: 1.2em;
}

#bubble1-1-2 p {
    display: block;
    font-size: 1em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-top: 2em;
}









@media (max-width: 450px) {
    .ProportionateFont {
        animation: SmallerFont 0.3s;
        animation-fill-mode: forwards;
        -webkit-animation: SmallerFont 0.3s;
        -webkit-animation-fill-mode: forwards;
    }

    #bubble1-1-1 {
        background-size: cover;
        background-repeat: no-repeat;
        left: 11em;
        top: 0.8em;
        width: 8em;
        height: 7em;
        z-index: 5;
    }

    #bubble1-1-1 p {
        /*border: 1px solid #000;*/
        font-size: 1em;
        padding-left: 0.2em;
        padding-right: 0.5em;
        padding-top: 0.6em;
        z-index: 6;
        margin: 0;
    }

    #bubble1-1-2 {
        background-size: cover;
        width: 12em;
        height: 40%;
        font-size: 0.8em;
        left: 25em;
        top: 0.8em;
    }

    #bubble1-1-2 p {
        font-size: 1em;
        padding-left: 0.75em;
        padding-right: 0.75em;
        padding-top: 1em;
    }
}

@media (min-width: 450px) {
    .ProportionateFont {
        animation: LargerFont 0.3s;
        animation-fill-mode: forwards;
        -webkit-animation: LargerFont 0.3s;
        -webkit-animation-fill-mode: forwards;
    }
}

@keyframes SmallerFont {
    0% {
        font-size: 24px;
    }

    100% {
        font-size: 12px;
    }
}

@-webkit-keyframes SmallerFont {
    0% {
        font-size: 24px;
    }

    100% {
        font-size: 12px;
    }
}

@keyframes LargerFont {
    0% {
        font-size: 12px;
    }

    100% {
        font-size: 24px;
    }
}

@-webkit-keyframes LargerFont {
    0% {
        font-size: 12px;
    }

    100% {
        font-size: 24px;
    }
}
